@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply transition-colors duration-500;
    }

    @media (prefers-reduced-motion: reduce) {
        *, ::before, ::after {
            animation-duration: 0s !important;
            animation-delay: 0s !important;
            transition-duration: 0s !important;
            scroll-behavior: smooth !important;
        }
    }
}

@layer utilities {
    .vertical-rotated-text {
        writing-mode: vertical-rl;
        transform: rotate(0deg); /* flips characters */
        text-orientation: upright;
    }
}
