/* Root Variables */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global Resets */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #ccdad1;
  color: #ffffff;
  line-height: 1.6;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Header */
header {
  background-color: #9CAEA9;
  color: #38302E;
  padding: 1rem;
  border: 2px solid #6F6866;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 8px 12px rgba(0.2, 0.2, 0.2, 1)
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
}

#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#about-me img {
  max-width: 100%;
  height: auto;
  margin: 1rem;
  box-shadow: 2px 8px 12px rgba(0.2, 0.2, 0.2, 1)
}

.theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.theme-toggle:hover {
  transform: scale(1.05);
}

/* Navigation */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

nav a {
  text-decoration: none;
  color: #38302E;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

/* Main Content */
main {
  padding: 1rem;
}

main h2 {
  color: #38302E;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

main p {
  margin-bottom: 1.75rem;
  text-align: left;
}

/* Buttons */
button {
  padding: 0.5rem 0.5rem;
  margin: 0.35rem;
  background-color: black;
  color: #ccdad1;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: black;
  transform: scale(1.05);
  color: orange;
  border-radius: 30px;
  font-weight: bold;
  outline: 2px solid #646cff;
}

button:focus {
  color: orange;
  font-weight: bold;
  outline: 2px solid orange;
  outline-offset: 2px;
  border-radius: 30px;
}

.vertical-text {
  display: inline-block;
  writing-mode: vertical-rl;
  text-orientation: upright; /* Ensures letters stay upright */
  transform: rotate(360deg); /* Optional: flips the text to read top-to-bottom */
  font-size: 0.875rem; /* Adjust size as needed */
  text-align: center;
}

/* Footer */
footer {
  background-color: #9CAEA9;
  color: black;
  text-align: center;
  padding: 1rem;
  margin-top: 1.25rem;
  font-weight: bolder;
  border: 2px solid #6F6866;
  box-shadow: 2px 8px 12px rgba(0.2, 0.2, 0.2, 1)
}

footer button {
  margin: 1rem;
}

/* Projects */
.projects {
  display: flex;
  flex-direction: column-reverse;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem 0;
}

.project-card {
  background-color: #9CAEA9;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  margin: 1rem 0;
  box-shadow: 2px 8px 12px rgba(0.2, 0.2, 0.2, 1);
}

.project-card h2 {
  color: #38302E;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
}

.project-card h3 {
  color: #38302E;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.project-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 2px 8px 12px rgba(0.2, 0.2, 0.2, 1)
}

.project-cards-container {
  display: flex;
  flex-direction: column; /* Or row, depending on layout */
  align-items: center; /* Centers items horizontally */
  justify-content: center; /* Centers items vertically if necessary */
  margin: 0 auto; /* Ensures the container itself is centered */
}


.project-card-resume {
  background-color: #9CAEA9;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  margin: 1rem auto; /* Ensures horizontal centering */
  box-shadow: 2px 8px 12px rgba(0.2, 0.2, 0.2, 1);
  width: 60%;
}

.project-card-resume h2 {
  color: #38302E;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
}

.project-card-resume ul {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.project-card-resume li {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.proficiencies {
  background-color: #9CAEA9;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  margin: 2rem auto; /* Ensures horizontal centering */
  box-shadow: 2px 8px 12px rgba(0.2, 0.2, 0.2, 1);
  width: 80%;
}

.proficiencies li {
  color: #38302E;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Forms */
form {
  max-width: 400px;
  margin: 2rem auto;
  background-color: #9CAEA9;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 2px 8px 12px rgba(0.2, 0.2, 0.2, 1);
  border: 2px solid #6F6866;
}

form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #38302E;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #38302E;
}

input[type="text"],
input[type="email"],
textarea {
  width: calc(100% - 20px);
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #6F6866;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #ccdad1;
  color: #38302E;
  box-shadow: 2px 4px 6px rgba(0.15, 0.15, 0.15, 0.2);
}

textarea {
  resize: vertical;
}

input:focus,
textarea:focus {
  border-color: #38302E;
  outline: none;
}

span {
  color: red;
}

/* Light and Dark Themes */
[data-theme='light'] {
  background-color: #ccdad1;
  color: #38302E;
}

[data-theme='dark'] {
  background-color: black;
  color: #FAF9F6;
}

[data-theme='dark'] header {
  background-color: black;
  color: #FAF9F6;
  border: none;
}

[data-theme='dark'] h1 {
  color: #FAF9F6;
}

[data-theme='dark'] h2 {
  color: #FAF9F6;
}

[data-theme='dark'] h3 {
  color: #FAF9F6;
}

[data-theme='dark'] form {
  background-color: black;
  color: #FAF9F6;
  border: none;
}

[data-theme='dark'] label {
  color: #FAF9F6;
}

[data-theme='dark'] section {
  background-color: black;
  color: #FAF9F6;
}

[data-theme='dark'] footer {
  background-color: black;
  color: #FAF9F6;
  border: none;
}

[data-theme='dark'] div {
  background-color: black;
  color: #FAF9F6;
}

[data-theme='dark'] div .project-card-resume {
  background-color: black;
  color: #FAF9F6;
}

[data-theme='dark'] nav a {
  color: #FAF9F6;
}

[data-theme='dark'] input[type="text"] {
  background-color: black;
  color: #FAF9F6;
}

[data-theme='dark'] input[type="email"] {
  background-color: black;
  color: #FAF9F6;
}

[data-theme='dark'] textarea {
  background-color: black;
  color: #FAF9F6;
}

/* Media Queries */
@media (max-width: 768px) {
  nav {
    gap: 0.5rem;
  }

  nav a {
    padding: 0.25rem 0.5rem;
  }
}
