body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #ccdad1;
  color: #ffffff;
  line-height: 1.6;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  background-color: #9CAEA9;
  color: #38302E;
  padding: 1rem;
  border: 2px solid #6F6866;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
  text-align: center;
    font-weight: bold;
}

#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  margin: 1rem 0;
}

#about-me img {
  max-width: 100%;
  height: auto;
  margin: 1rem;
}

.theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 0.75rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.theme-toggle:hover {
  transform: scale(1.25);
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

nav a {
  text-decoration: none;
  color: #38302E;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

main {
  padding: 2rem;
}

main h2 {
  color: #38302E;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;

}

main p {
  margin-bottom: 1.5rem;
}

button {
  padding: 0.5rem 1rem;
  margin: 0.35rem;
  background-color: #788585;
  color: #ccdad1;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: black;
  color: orange;
  transform: scale(1);
  border-radius: 25px;
  font-weight: bold;
}

button:focus {
  color: orange;
  outline: 2px solid #38302E;
  outline-offset: 2px;
  border-radius: 25px;
  font-weight: bold;
}

footer {
  background-color: #9CAEA9;
  color: black;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  font-weight: bolder;
  border: 2px solid #6F6866;
}

footer button {
  margin: 0.5rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem 0;
}

.project-card {
  background-color: #9CAEA9;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  margin: 1rem 0;
}

.project-card h2 {
    color: #38302E;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
}

.project-card h3 {
  color: #38302E;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

form {
  max-width: 400px;
  margin: 2rem auto;
  background-color: #9CAEA9;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid #6F6866;
  box-sizing: border-box;
}

form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #38302E;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #38302E;
}

input[type="text"],
input[type="email"],
textarea {
  width: calc(100% - 20px);
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #6F6866;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #ccdad1;
  color: #38302E;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  border-color: #38302E;
  outline: none;
}

span {
  color: red;
  font-size: 0.875rem;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  display: block;
}

button[type="submit"] {
  background-color: black;
  color: #ccdad1;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
  margin: 0 auto;
}

button[type="submit"]:hover {
  background-color: black;
  transform: scale(1);
  color: orange;
  border-radius: 30px;
  font-weight: bold;
}

button[type="submit"]:focus {
  outline: 2px solid #38302E; /* Dark brown */
  outline-offset: 2px;
  border-radius: 30px;
  color: orange;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0.5rem 0;
  font-weight: bold;
}


[data-theme='light'] {
  background-color: #ccdad1;
  color: #38302E;
}

[data-theme='light'] header {
  background-color: #9CAEA9;
  color: #38302E;
}

[data-theme='dark'] {
  background-color: black;
  color: #ffffff;
}

[data-theme='dark'] header {
  background-color: #9CAEA9;
  color: #ffffff;
}

[data-theme='dark'] h2 {
  color: #ffffff;
}

[data-theme='dark'] h3 {
  color: #ffffff;
}

[data-theme='dark'] label {
  color: #ffffff;
}

@media (min-width: 1024px) {
  #root {
    padding: 2rem;
  }

  header h1 {
    font-size: 3rem;
  }

  #about-me {
    padding: 2rem;
  }

  nav {
    gap: 1rem;
  }

  nav a {
    padding: 0.5rem 1rem;
  }

  main {
    padding: 2rem;
  }

  main h2 {
    font-size: 2.5rem;
  }

  main p {
    font-size: 1.25rem;
  }

  button {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
  }

  footer {
    padding: 1rem;
  }

  footer button {
    margin: 0.5rem;
  }

  .projects {
    padding: 1rem;
  }

  .project-card {
    padding: 1rem;
  }

  form {
    padding: 2rem;
  }

  form h2 {
    font-size: 2.5rem;
  }

  label {
    font-size: 1rem;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 1rem;
  }

  span {
    font-size: 0.875rem;
  }

  button[type="submit"] {
    font-size: 1.25rem;
  }
}


@media (max-width: 768px) {
  #root {
    padding: 1rem;
  }

  header h1 {
    font-size: 2rem;
  }

  #about-me {
    padding: 1rem;
  }

  nav {
    gap: 0.5rem;
  }

  nav a {
    padding: 0.25rem 0.5rem;
  }

  main {
    padding: 1rem;
  }

  main h2 {
    font-size: 1.5rem;
  }

  main p {
    font-size: 1rem;
  }

  button {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
  }

  footer {
    padding: 0.5rem;
  }

  footer button {
    margin: 0.25rem;
  }

  .projects {
    padding: 0.5rem;
  }

  .project-card {
    padding: 0.5rem;
  }

  form {
    padding: 1rem;
  }

  form h2 {
    font-size: 1.5rem;
  }

  label {
    font-size: 0.875rem;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 0.875rem;
  }

  span {
    font-size: 0.75rem;
  }

  button[type="submit"] {
    font-size: 0.875rem;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1.5rem;
  }

  main h2 {
    font-size: 1.25rem;
  }

  main p {
    font-size: 0.875rem;
  }

  button {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
  }

  footer {
    padding: 0.5rem;
  }

  footer button {
    margin: 0.25rem;
  }

  .project-card {
    padding: 0.5rem;
  }

  form {
    padding: 1rem;
  }

  form h2 {
    font-size: 1.25rem;
  }

  label {
    font-size: 0.75rem;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 0.75rem;
  }

  span {
    font-size: 0.625rem;
  }

  button[type="submit"] {
    font-size: 0.75rem;
  }
}

@media (max-width: 320px) {
  header h1 {
    font-size: 1.25rem;
  }

  main h2 {
    font-size: 1rem;
  }

  main p {
    font-size: 0.75rem;
  }

  button {
    padding: 0.25rem 0.5rem;
    font-size: 0.625rem;
  }

  footer {
    padding: 0.5rem;
  }

  footer button {
    margin: 0.25rem;
  }

  .project-card {
    padding: 0.5rem;
  }

  form {
    padding: 1rem;
  }

  form h2 {
    font-size: 1rem;
  }

  label {
    font-size: 0.625rem;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 0.625rem;
  }

  span {
    font-size: 0.5rem;
  }

  button[type="submit"] {
    font-size: 0.625rem;
  }
}